.DS_Store
node_modules
/dist

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
/package-lock.json
translationTool/.credentials/round-ring-307203-d7d20d7d442d.json
src/img/btn_google_signin_dark_focus_web.png
src/img/btn_google_signin_dark_focus_web@2x.png
src/img/btn_google_signin_dark_normal_web.png
src/img/btn_google_signin_dark_normal_web@2x.png
src/img/btn_google_signin_dark_pressed_web.png
src/img/btn_google_signin_dark_pressed_web@2x.png
src/img/favicon.ico
src/img/zempie_logo.png
src/img/achievement/banner/01.jpg
src/img/achievement/banner/02.jpg
src/img/avatar/01-social.png
src/img/avatar/01.jpg
src/img/avatar/02.jpg
src/img/avatar/03.jpg
src/img/avatar/04.jpg
src/img/avatar/05.jpg
src/img/avatar/06.jpg
src/img/avatar/07.jpg
src/img/avatar/08.jpg
src/img/avatar/09.jpg
src/img/avatar/10.jpg
src/img/avatar/11.jpg
src/img/avatar/12.jpg
src/img/avatar/13.jpg
src/img/avatar/14.jpg
src/img/avatar/15.jpg
src/img/avatar/16.jpg
src/img/avatar/17.jpg
src/img/avatar/18.jpg
src/img/avatar/19.jpg
src/img/avatar/20.jpg
src/img/avatar/21.jpg
src/img/avatar/22.jpg
src/img/avatar/23.jpg
src/img/avatar/24.jpg
src/img/avatar/25.jpg
src/img/avatar/26.jpg
src/img/avatar/27.jpg
src/img/avatar/28.jpg
src/img/avatar/29.jpg
src/img/avatar/30.jpg
src/img/avatar/31.jpg
src/img/avatar/32.jpg
src/img/avatar/33.jpg
src/img/badge/age-b.png
src/img/badge/age-s.png
src/img/badge/badge-empty-02.png
src/img/badge/badge-empty.png
src/img/badge/blank-s.png
src/img/badge/bronze-b.png
src/img/badge/bronze-s.png
src/img/badge/bronzec-b.png
src/img/badge/bronzec-s.png
src/img/badge/caffeinated-b.png
src/img/badge/caffeinated-s.png
src/img/badge/collector-b.png
src/img/badge/collector-s.png
src/img/badge/completedq-s.png
src/img/badge/fcultivator-b.png
src/img/badge/fcultivator-s.png
src/img/badge/forumsf-b.png
src/img/badge/forumsf-s.png
src/img/badge/gempost-b.png
src/img/badge/gempost-s.png
src/img/badge/globet-b.png
src/img/badge/globet-s.png
src/img/badge/gold-b.png
src/img/badge/gold-s.png
src/img/badge/goldc-b.png
src/img/badge/goldc-s.png
src/img/badge/level-badge.png
src/img/badge/liked-b.png
src/img/badge/liked-s.png
src/img/badge/marketeer-b.png
src/img/badge/marketeer-s.png
src/img/badge/mightiers-b.png
src/img/badge/mightiers-s.png
src/img/badge/ncreature-b.png
src/img/badge/ncreature-s.png
src/img/badge/peoplesp-b.png
src/img/badge/peoplesp-s.png
src/img/badge/phantom-b.png
src/img/badge/phantom-s.png
src/img/badge/platinum-b.png
src/img/badge/platinum-s.png
src/img/badge/platinumc-b.png
src/img/badge/platinumc-s.png
src/img/badge/prophoto-b.png
src/img/badge/prophoto-s.png
src/img/badge/qconq-b.png
src/img/badge/qconq-s.png
src/img/badge/rmachine-b.png
src/img/badge/rmachine-s.png
src/img/badge/rulerm-b.png
src/img/badge/rulerm-s.png
src/img/badge/scientist-b.png
src/img/badge/scientist-s.png
src/img/badge/silver-b.png
src/img/badge/silver-s.png
src/img/badge/silverc-b.png
src/img/badge/silverc-s.png
src/img/badge/sloved-b.png
src/img/badge/sloved-s.png
src/img/badge/splanner-b.png
src/img/badge/splanner-s.png
src/img/badge/Thumbs.db
src/img/badge/traveller-b.png
src/img/badge/traveller-s.png
src/img/badge/tstruck-b.png
src/img/badge/tstruck-s.png
src/img/badge/tycoon-b.png
src/img/badge/tycoon-s.png
src/img/badge/uexp-b.png
src/img/badge/uexp-s.png
src/img/badge/unlocked-badge.png
src/img/badge/upowered-b.png
src/img/badge/upowered-s.png
src/img/badge/verifieds-b.png
src/img/badge/verifieds-s.png
src/img/badge/villain-b.png
src/img/badge/villain-s.png
src/img/badge/warrior-b.png
src/img/badge/warrior-s.png
src/img/banner/accounthub-icon.png
src/img/banner/badges-icon.png
src/img/banner/banner-bg.png
src/img/banner/banner-commenter.jpg
src/img/banner/banner-profile-stats.jpg
src/img/banner/banner-promo.jpg
src/img/banner/banner-reaction.jpg
src/img/banner/events-icon.png
src/img/banner/forums-icon.png
src/img/banner/groups-icon.png
src/img/banner/marketplace-icon.png
src/img/banner/members-icon.png
src/img/banner/newsfeed-icon.png
src/img/banner/overview-icon.png
src/img/banner/quests-icon.png
src/img/banner/streams-icon.png
src/img/banner/Thumbs.db
src/img/cover/01.jpg
src/img/cover/02.jpg
src/img/cover/03.jpg
src/img/cover/04.jpg
src/img/cover/05.jpg
src/img/cover/06.jpg
src/img/cover/07.jpg
src/img/cover/08.jpg
src/img/cover/09.jpg
src/img/cover/10.jpg
src/img/cover/11.jpg
src/img/cover/12.jpg
src/img/cover/13.jpg
src/img/cover/14.jpg
src/img/cover/15.jpg
src/img/cover/16.jpg
src/img/cover/17.jpg
src/img/cover/18.jpg
src/img/cover/19.jpg
src/img/cover/20.jpg
src/img/cover/21.jpg
src/img/cover/22.jpg
src/img/cover/23.jpg
src/img/cover/24.jpg
src/img/cover/25.jpg
src/img/cover/27.jpg
src/img/cover/28.jpg
src/img/cover/29.jpg
src/img/cover/30.jpg
src/img/cover/31.jpg
src/img/cover/32.jpg
src/img/cover/33.jpg
src/img/cover/34.jpg
src/img/cover/35.jpg
src/img/cover/36.jpg
src/img/cover/37.jpg
src/img/cover/38.jpg
src/img/cover/39.jpg
src/img/cover/40.jpg
src/img/cover/41.jpg
src/img/cover/42.jpg
src/img/cover/43.jpg
src/img/cover/44.jpg
src/img/cover/45.jpg
src/img/cover/46.jpg
src/img/cover/47.jpg
src/img/cover/48.jpg
src/img/cover/49.jpg
src/img/cover/50.jpg
src/img/cover/51.jpg
src/img/cover/52.jpg
src/img/cover/53.png
src/img/default/channel_banner.png
src/img/default/default_profile.png
src/img/default/guest_header_500.png
src/img/default/guest_header.png
src/img/flag/argentina.png
src/img/flag/brazil.png
src/img/flag/canada.png
src/img/flag/france.png
src/img/flag/germany.png
src/img/flag/india.png
src/img/flag/map.png
src/img/flag/russia.png
src/img/flag/Thumbs.db
src/img/flag/turkey.png
src/img/flag/usa.png
src/img/forum/Thumbs.db
src/img/forum/category/01.png
src/img/forum/category/02.png
src/img/forum/category/03.png
src/img/forum/category/04.png
src/img/forum/category/05.png
src/img/forum/category/06.png
src/img/forum/category/07.png
src/img/forum/category/08.png
src/img/graph/stat/01-big.png
src/img/graph/stat/01.jpg
src/img/graph/stat/02-big.png
src/img/graph/stat/02.jpg
src/img/graph/stat/03-big.png
src/img/graph/stat/03.jpg
src/img/graph/stat/04-big.png
src/img/graph/stat/04.jpg
src/img/graph/stat/05-big.png
src/img/graph/stat/05.png
src/img/graph/stat/06-big.png
src/img/graph/stat/06.png
src/img/graph/stat/07.png
src/img/graph/stat/08.png
src/img/graph/stat/09.png
src/img/graph/stat/10.png
src/img/landing/404-bg.png
src/img/landing/dot-texture.png
src/img/landing/landing-background.jpg
src/img/landing/rocket.png
src/img/landing/vikinger-logo.png
src/img/marketplace/Thumbs.db
src/img/marketplace/category/01.png
src/img/marketplace/category/02.png
src/img/marketplace/category/03.png
src/img/marketplace/category/04.png
src/img/marketplace/items/01.jpg
src/img/marketplace/items/02.jpg
src/img/marketplace/items/03.jpg
src/img/marketplace/items/04.jpg
src/img/marketplace/items/05.jpg
src/img/marketplace/items/06.jpg
src/img/marketplace/items/07.jpg
src/img/marketplace/items/08.jpg
src/img/marketplace/items/09.jpg
src/img/marketplace/items/10.jpg
src/img/marketplace/items/11.jpg
src/img/marketplace/items/12.jpg
src/img/marketplace/items/13.jpg
src/img/marketplace/items/14.jpg
src/img/marketplace/items/15.jpg
src/img/marketplace/items/16.jpg
src/img/marketplace/items/17.jpg
src/img/marketplace/items/18.jpg
src/img/marketplace/items/19.jpg
src/img/marketplace/items/20.jpg
src/img/marketplace/items/Thumbs.db
src/img/quest/completedq-b.png
src/img/quest/completedq-l.png
src/img/quest/completedq-s.png
src/img/quest/openq-b.png
src/img/quest/openq-s.png
src/img/quest/cover/01.png
src/img/quest/cover/02.png
src/img/quest/cover/03.png
src/img/quest/cover/04.png
src/img/reaction/angry.png
src/img/reaction/dislike.png
src/img/reaction/funny.png
src/img/reaction/happy.png
src/img/reaction/like.png
src/img/reaction/love.png
src/img/reaction/sad.png
src/img/reaction/Thumbs.db
src/img/reaction/wow.png
