// datepicker & timepicker
.datepicker,
.timepicker {
    width: 48%;
    background-color: #1d2333;
    border: 1px solid #616a82;

    >.btn {
        width: 30% !important;
    }


    svg {
        fill: #616a82;
    }

    label {
        color: #fff !important;
    }
}

.quick-post-footer {
    .dropdown {

        .dropdown-item,
        .btn {
            overflow: hidden;
            word-wrap: normal;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
    }
}

.private-checkbox {
    padding-top: 10px;
    height: 40px;
    color: #9aa4bf;
    padding-left: 28px;
    font-size: 0.75rem;
    font-weight: 500;
    text-align: right;
    margin-left: 28px;

    label {
        padding-top: 7px;
    }

}


.saveToast {
    background-color: red;
    margin-top: 80px;

    .close {

        text-align: right;
        margin-left: 28px;

        label {
            padding-top: 7px;
        }

    }


}

.hashtag {
    color: #A975FF;
    border-radius: 0.3rem;
    padding: 0.1rem 0.3rem;
    cursor: pointer;
}

.mention {
    color: #A975FF;
    // background-color: rgba(#A975FF, 0.1);
    border-radius: 0.3rem;
    padding: 0.1rem 0.3rem;
    cursor: pointer;
}

pre {

    background: #0d0d0d !important;
    color: #fff !important;
    font-family: "JetBrainsMono", monospace !important;
    padding: 0.75rem 1rem !important;
    border-radius: 0.5rem !important;
    text-align: left !important;
}

// vuelidate
.invalid-feedback {
    font-size: 100% !important;
}

// tooltip

.gameTooltip {
    position: absolute !important;
    left: 78px !important;
    bottom: 0px !important;
}

.category-tooltip,
.community-tooltip {

    background-color: #6c757d;
    top: 10px !important;
    height: 120px;
    padding: 0px !important;
    border-radius: 7px !important;

    .arrow {
        top: -6px !important;
    }

    .arrow::before {
        border-bottom-color: #6c757d !important;
        top: -6px !important
    }

    >div.tooltip-inner {
        .dropdown-container {
            height: 100%;
        }

        background-color: #0d0d0d00 !important;
        height: 100%;
        padding: 0;

        button:hover,
        button {
            height: 37px;
            border-radius: 0px !important;
        }



        button:not(:last-child) {
            // border-bottom: 1px solid;
        }
    }

    .off {
        display: none;
    }

}

.category-list {
    display: flex;

    button {
        font-size: 15px !important;
        font-weight: 100 !important;
        padding: 0px 20px 0px 20px;
        text-overflow: ellipsis;
        border-radius: 5px !important;
        border: 1px solid #616a82;
        width: 150px !important;
        background: none;
        display: flex;
        align-items: center;
        height: 30px;
    }


    .category-title {
        display: flex;
        align-items: center;
        margin-left: 10px;
    }
}


//v-tooltip

.tooltip {

    display: block !important;
    z-index: 10000;
    background-color: transparent !important;

    button {
        border-radius: 0px !important;
    }

    button:focus {
        box-shadow: none !important;
        border-radius: 0px !important;
    }


    button:hover {
        border-radius: 0px !important;
    }

    .tooltip-inner {
        background: black;
        color: #6c757d;
        border-radius: 16px;
        padding: 0px;
    }

    .tooltip-arrow {
        width: 0;
        height: 0;
        border-style: solid;
        position: absolute;
        margin: 5px;
        border-color: black;
        z-index: 1;
    }

    &[x-placement^="top"] {
        margin-bottom: 5px;

        .tooltip-arrow {
            border-width: 5px 5px 0 5px;
            border-left-color: transparent !important;
            border-right-color: transparent !important;
            border-bottom-color: transparent !important;
            bottom: -5px;
            left: calc(50% - 5px);
            margin-top: 0;
            margin-bottom: 0;
        }
    }

    &[x-placement^="bottom"] {
        margin-top: 5px;

        .tooltip-arrow {
            border-width: 0 5px 5px 5px;
            border-left-color: transparent !important;
            border-right-color: transparent !important;
            border-top-color: transparent !important;
            top: -5px;
            left: calc(50% - 5px);
            margin-top: 0;
            margin-bottom: 0;
        }
    }

    &[x-placement^="right"] {
        margin-left: 5px;

        .tooltip-arrow {
            border-width: 5px 5px 5px 0;
            border-left-color: transparent !important;
            border-top-color: transparent !important;
            border-bottom-color: transparent !important;
            left: -5px;
            top: calc(50% - 5px);
            margin-left: 0;
            margin-right: 0;
        }
    }

    &[x-placement^="left"] {
        margin-right: 5px;

        .tooltip-arrow {
            border-width: 5px 0 5px 5px;
            border-top-color: transparent !important;
            border-right-color: transparent !important;
            border-bottom-color: transparent !important;
            right: -5px;
            top: calc(50% - 5px);
            margin-left: 0;
            margin-right: 0;
        }
    }

    &.popover,
    &.customPopover {
        $color: #6c757d;

        .popover-inner {
            background: $color;
            color: black;
            border-radius: 7px;
            box-shadow: 0 5px 30px rgba(black, .1);
            overflow: hidden;

        }

        .popover-arrow {
            border-color: $color;
        }
    }

    &[aria-hidden='true'] {
        visibility: hidden;
        opacity: 0;
        transition: opacity .15s, visibility .15s;
    }

    &[aria-hidden='false'] {
        visibility: visible;
        opacity: 1;
        transition: opacity .15s;
    }
}

.customPopover {
    top: -60px !important;
}

.v-popover {
    >div {
        width: 100% !important
    }
}

